@inherits LayoutComponentBase

<PageTitle>BlazorApp_Tricia</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
       @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@
@*
        <article class="content px-4">
            @Body
        </article>*@
        <div style="height:25px"></div>
        <div style="width:100%; background-color:white">
            @Body
        </div>
    </main>
</div>
