
@page "/BeforeQuestionsStart"
@using BlazorApp_Tricia.Data

@inject NavigationManager NavManager
@inject StudentService StudentService
@inject IJSRuntime JsRuntime

<div style="margin-left:50px; margin-right:50px">

@*left padding*@
<p style="text-align: center;">You will now answer some questions to assess your understanding of the text. Please answer each question to the best of your ability. </p>
<br />
<button @onclick="OnNext">Next</button>
</div>



@code {
    private string? studentId{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        //Console.WriteLine(MyService.id);
        //Console.WriteLine(); 
    }

    private async void OnNext()
    {

        NavManager.NavigateTo("/paragraphResponse"); 
    }
}
