
@page "/studentid"
@using BlazorApp_Tricia.Data

@inject NavigationManager NavManager
@inject StudentService StudentService
@inject IJSRuntime JsRuntime

@*left padding*@
<label>     PIN:</label>

<input @bind="studentId"/>
<button @onclick="SubmitId">Submit</button>



@code {
    private string? studentId{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        //Console.WriteLine(MyService.id);
        //Console.WriteLine(); 
    }

    private async void SubmitId()
    {
        if(string.IsNullOrWhiteSpace(studentId))
        {
            await JsRuntime.InvokeVoidAsync("alert", "You have entered an invalid PIN. Please double-check your PIN before proceeding.");
            return;
        }

        StudentService.LoadTargetStudent(studentId);
        if(StudentService.GetTargetStudent() == null)
        {
            StudentService.CreateStudent(studentId);
        }


        NavManager.NavigateTo("/instructionsPage"); 
        //NavManager.NavigateTo("/questionPage2/0"); 
        //NavManager.NavigateTo("/paragraphResponse"); 
    }
}
