@page "/paragraphResponse"
@using BlazorApp_Tricia.Data
@inject WebsiteService WebsiteService
@inject NavigationManager NavManager
@inject StudentService StudentService
@inject IJSRuntime JsRuntime


   
    <div style="text-align: center;">
        <span><label>Remaining Time: </label> @timeDisplay</span>
    </div>
    <br />

    <p>In a standard 5 paragraph essay, please answer the following prompt:</p>
    <p>Explain how alcohol is produced in alcoholic beverages and the factors that may alter the amount of alcohol produced.</p>
    <br />
    <textarea name="paragraph_text" cols="200" rows="30" @bind="@responseText" @bind:event="oninput"></textarea>

    @*<button @onclick="OnNext">Next</button>*@





@code {

    private static System.Timers.Timer timer;

    private string timeDisplay = "";

    private int minutes = 0;
    private int seconds = 20;
    private int totalSeconds;

    private string responseText;

    private Student student;

    protected override async Task OnInitializedAsync()
    {
        totalSeconds = minutes * 60 + seconds;

        timer = new System.Timers.Timer(1000);
        timer.Elapsed += CountDownTimer;
        timer.Enabled = true;

        student = StudentService.GetTargetStudent();


    }


    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (totalSeconds > 0)
        {
            totalSeconds -= 1;
            timeDisplay = $"{(int)totalSeconds/60:D2}:{totalSeconds % 60:D2}";
        }
        else
        {
            timer.Enabled = false;
            student.ParagraphResponse = responseText;
            StudentService.SaveStudent(student);
           

            NavManager.NavigateTo("/questionPage2/0");
        }
        InvokeAsync(StateHasChanged); // updates webpage
    }

    public void Dispose()
    {
        timer.Enabled = false;
        timer.Dispose();
    }
}
