@page "/paragraphResponse"
@using BlazorApp_Tricia.Data
@inject WebsiteService WebsiteService
@inject NavigationManager NavManager
@inject StudentService StudentService
@inject IJSRuntime JsRuntime


   <div style="margin-left:50px; margin-right:50px">
        <div style="text-align: center;">
        <span><label>Remaining Time: </label> @timeDisplay</span>
        </div>
        <br />

        <p>In a standard 5 paragraph essay, please answer the following prompt:</p>
        <p>Explain how alcohol is produced in alcoholic beverages and the factors that may alter the amount of alcohol produced.</p>
        <br />
        <textarea name="paragraph_text" cols="200" rows="30" @bind="@responseText" @bind:event="oninput"></textarea>
   </div>
   

    @*<button @onclick="OnNext">Next</button>*@





@code {

    private static System.Timers.Timer timer;

    private string timeDisplay = "";

    private int minutes = 0;
    private int seconds = 0;
    private int totalSeconds;

    private Student student;
    private string responseText;


    protected override Task OnInitializedAsync()
    {
        var data = WebsiteService.GetWebsiteData();
        var tokens = data.ParagraphTotalTime.Split(new char[] { ':' });
        minutes = int.Parse(tokens[0]);
        seconds = int.Parse(tokens[1]);
        

        totalSeconds = minutes * 60 + seconds;

        timer = new System.Timers.Timer(1000);
        timer.Elapsed += CountDownTimer;
        timer.Enabled = true;

        student = StudentService.GetTargetStudent();

        return base.OnInitializedAsync();
    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (totalSeconds > 0)
        {
            totalSeconds -= 1;
            timeDisplay = $"{(int)totalSeconds/60:D2}:{totalSeconds % 60:D2}";
        }
        else
        {
            timer.Enabled = false;
            student.ParagraphResponse = responseText;
            StudentService.SaveStudent(student);
           

            NavManager.NavigateTo("/questionPage2/0");
        }
        InvokeAsync(StateHasChanged); // updates webpage
    }

    public void Dispose()
    {
        timer.Enabled = false;
        timer.Dispose();
    }
}
