@page "/thankyou"

<div style="text-align: center;">
        
        <p>
            Thank you for completing Session 1. 
        </p>
        <p>
            You will not receive credit in PECOLSUS until you complete Session 2. 
        </p>
        <p style="text-align: center;">
        If you need to change your sign-up time for Session 2, you may email the researcher (<a href="tguerr9@uic.edu">tguerr9@uic.edu</a>).
        </p>
</div>

@code {

}
